@keyframes pop-up {
  0% {
    opacity: 0;
    transform: scale(-1.5); }
  80% {
    opacity: 1;
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes bouncy {
  0% { }
  25% {
    transform: translateY(-5px); }
  50% {
    transform: translateY(0px); }
  75% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0px); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes rotar {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

* {
  margin: 0px;
  padding: 0px; }

body {
  font-size: 16px; }

hr.big {
  width: 80%;
  margin: 15px auto; }

hr {
  margin: 10px auto; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: blue; }

.fas {
  margin-right: 10px;
  font-size: 14px; }

h1 {
  font-size: 18px; }

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700; }

a:hover {
  text-decoration: none; }

@media only screen and (max-width: 900px) {
  hr.big {
    width: 95%; } }

.main {
  width: 80%;
  margin: auto; }
  .main__heading {
    background-image: linear-gradient(to right, #E6C26C 0%, #E6C26C 10px, #F4EEDE 10px);
    padding: 5px 15px;
    font-family: 'Cabin sketch';
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 700;
    font-size: 19px; }

.about__welcome--btn {
  margin-top: 2px;
  border: none;
  font-weight: bold;
  color: #E6C36E;
  font-family: 'Courgette'; }
  .about__welcome--btn:hover {
    color: aliceblue;
    transform: skewX(25deg); }

.close-btn {
  position: absolute;
  top: 15px;
  left: 95%;
  border: none;
  font-weight: 700;
  font-size: 25px;
  border-radius: 50%;
  padding: 8px; }

.search-btn {
  background-image: url(/img/search-btn.png);
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
  border: none;
  display: none;
  margin-left: 10px; }

.like-btn {
  color: blue;
  border: 1px solid blue;
  background-color: lightblue;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 14px; }
  .like-btn:hover i {
    animation: bouncy 0.5s ease; }
  .like-btn i {
    color: blue; }

.imgslider {
  position: relative;
  width: 100%; }
  .imgslider .fas {
    font-size: 50px;
    color: #EDE9EA; }
  .imgslider__arrow--left {
    margin: 10px;
    display: inline-block;
    width: 15px;
    height: 7rem; }
    .imgslider__arrow--left:hover .fas {
      color: #b6b6b6;
      text-shadow: 2px 2px 5px black; }
  .imgslider .container {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block; }
  .imgslider__arrow--right {
    margin: 5px;
    display: inline-block;
    width: 15px;
    height: 7rem; }
    .imgslider__arrow--right:hover .fas {
      color: #b6b6b6;
      text-shadow: 2px 2px 5px black; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.95;
  z-index: 10;
  display: none; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 30rem;
    background-image: linear-gradient(to right bottom, white 0%, white 15%, burlywood 35%, burlywood 50%, brown 75%), url(../img/pic_2.png);
    border-radius: 10px;
    position: relative;
    z-index: 12;
    display: table; }
    .popup__content--des {
      display: table-cell;
      width: 80%;
      vertical-align: middle; }
      .popup__content--des hr {
        width: 90%; }
    .popup__content--heading {
      font-size: 2.8rem;
      text-align: center;
      background-image: url(/img/pic_2.png);
      background-clip: text;
      color: transparent;
      font-family: 'handlee';
      -webkit-background-clip: text; }
    .popup__content--story {
      font-family: cursive;
      font-size: 1.1rem;
      padding: 10px;
      line-height: 25pt;
      font-family: 'overlock'; }
    .popup__content--images {
      display: table-cell;
      vertical-align: middle; }
      .popup__content--images img {
        border: 5px solid gray;
        margin: 20px;
        display: block;
        width: 10rem;
        height: 10rem; }

@media only screen and (max-width: 900px) {
  .popup {
    width: 100%;
    height: 800px; }
    .popup__content {
      margin-top: -100px;
      width: 85%;
      height: 65%;
      display: block; }
      .popup__content .close_btn {
        left: 90%;
        font-size: 0.7rem; }
      .popup__content--des {
        display: block;
        width: 100%;
        margin: 10px; }
      .popup__content--heading {
        font-size: 1.5rem;
        padding: 15px; }
      .popup__content--story {
        font-size: 0.9rem;
        padding: 5px;
        line-height: 15pt; }
        .popup__content--story::before {
          content: '';
          background-image: url(/img/person.png);
          background-size: contain;
          float: left;
          height: 3rem;
          width: 3rem;
          border-radius: 10px;
          border: 5px solid gray;
          margin-right: 10px; }
      .popup__content--images {
        display: none; } }

.user-stories {
  max-height: 200px;
  margin-top: 0px;
  width: 80%;
  margin: auto; }
  .user-stories .rotator-3D {
    height: 200px; }
    .user-stories .rotator-3D__content {
      position: relative;
      width: 150px;
      margin: auto;
      padding-top: 50px;
      perspective: 1200px; }
      .user-stories .rotator-3D__content--items {
        width: 100%;
        position: absolute;
        float: right;
        transform-style: preserve-3d;
        animation: rotar 20s infinite linear; }
        .user-stories .rotator-3D__content--items:hover {
          animation-play-state: paused;
          cursor: pointer; }
        .user-stories .rotator-3D__content--items figure {
          width: 100%;
          height: 80px;
          overflow: hidden;
          position: absolute;
          box-shadow: 3px 3px 10px gray, -3px -3px 20px 3px gray;
          border-radius: 3px; }
          .user-stories .rotator-3D__content--items figure img {
            width: 100%;
            height: 100%;
            transform: scale(1.2);
            image-rendering: auto;
            transition: all 300ms; }
            .user-stories .rotator-3D__content--items figure img:hover {
              transform: scale(1);
              filter: brightness(80%); }
          .user-stories .rotator-3D__content--items figure:nth-child(1) {
            transform: rotateY(40deg) translateZ(410px); }
          .user-stories .rotator-3D__content--items figure:nth-child(2) {
            transform: rotateY(80deg) translateZ(410px); }
          .user-stories .rotator-3D__content--items figure:nth-child(3) {
            transform: rotateY(120deg) translateZ(410px); }
          .user-stories .rotator-3D__content--items figure:nth-child(4) {
            transform: rotateY(160deg) translateZ(410px); }
          .user-stories .rotator-3D__content--items figure:nth-child(5) {
            transform: rotateY(200deg) translateZ(410px); }
          .user-stories .rotator-3D__content--items figure:nth-child(6) {
            transform: rotateY(240deg) translateZ(410px); }
          .user-stories .rotator-3D__content--items figure:nth-child(7) {
            transform: rotateY(280deg) translateZ(410px); }
          .user-stories .rotator-3D__content--items figure:nth-child(8) {
            transform: rotateY(320deg) translateZ(410px); }
          .user-stories .rotator-3D__content--items figure:nth-child(9) {
            transform: rotateY(360deg) translateZ(410px); }

@media only screen and (max-width: 900px) {
  .user-stories {
    width: 95%;
    margin: auto;
    max-height: 150px; }
    .user-stories .rotator-3D__content {
      width: 100px;
      perspective: 1200px; }
      .user-stories .rotator-3D__content--items figure {
        height: 70px; }
        .user-stories .rotator-3D__content--items figure:nth-child(1) {
          transform: rotateY(40deg) translateZ(180px); }
        .user-stories .rotator-3D__content--items figure:nth-child(2) {
          transform: rotateY(80deg) translateZ(180px); }
        .user-stories .rotator-3D__content--items figure:nth-child(3) {
          transform: rotateY(120deg) translateZ(180px); }
        .user-stories .rotator-3D__content--items figure:nth-child(4) {
          transform: rotateY(160deg) translateZ(180px); }
        .user-stories .rotator-3D__content--items figure:nth-child(5) {
          transform: rotateY(200deg) translateZ(180px); }
        .user-stories .rotator-3D__content--items figure:nth-child(6) {
          transform: rotateY(240deg) translateZ(180px); }
        .user-stories .rotator-3D__content--items figure:nth-child(7) {
          transform: rotateY(280deg) translateZ(180px); }
        .user-stories .rotator-3D__content--items figure:nth-child(8) {
          transform: rotateY(320deg) translateZ(180px); }
        .user-stories .rotator-3D__content--items figure:nth-child(9) {
          transform: rotateY(360deg) translateZ(180px); } }

.header {
  background-color: #EDE9EA;
  position: relative; }
  .header::after {
    content: '';
    clear: both;
    display: table; }
  .header__container {
    width: 80%;
    margin: auto; }
  .header__logo {
    padding: 30px;
    position: relative;
    animation: moveInLeft 0.8s ease; }
    .header__logo .rt-camp_logo {
      object-fit: cover; }
    .header__logo--part {
      position: absolute;
      top: 72%;
      left: 22%;
      font-size: 11px;
      text-transform: uppercase;
      font-family: sans-serif;
      color: gray;
      font-weight: 700; }
  .header__navigation {
    animation: moveInRight 1s ease; }
    .header__navigation--items {
      float: right;
      padding: 10px; }
      .header__navigation--items li {
        float: left;
        padding: 0px 2px;
        height: 12px; }
        .header__navigation--items li:not(:last-child) {
          border-right: 1px solid black; }
        .header__navigation--items li a {
          font-size: 12px;
          padding: 0 5px;
          color: black;
          margin-top: -3px;
          display: block; }
      .header__navigation--items a {
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'overlock';
        transition: all 0.3s ease;
        backface-visibility: hidden; }
      .header__navigation--items li:hover a {
        color: white;
        text-shadow: 1px 1px 5px black;
        transform: scale(1.1); }
  .header__searchbox {
    position: absolute;
    top: 60px;
    left: 70%;
    animation: moveInRight 1s ease; }
    .header__searchbox--input {
      width: 250px;
      height: 23px;
      background-image: url("/img/placeholder-pic.png");
      background-repeat: no-repeat;
      border: 2px solid gray;
      border-radius: 5px; }
      .header__searchbox--input:focus {
        background-image: none;
        outline: none;
        box-shadow: 3px 3px 10px white, -2px -2px 10px white;
        background-color: whitesmoke; }

@media only screen and (max-width: 900px) {
  .header__logo {
    padding: 25px;
    margin-top: 15px;
    text-align: center;
    position: relative; }
    .header__logo .rt-camp_logo {
      width: 60%;
      height: 60%; }
    .header__logo--part {
      top: 75%;
      left: 75%; }
  .header__navigation {
    width: 80%;
    text-align: right;
    padding: 2px; }
    .header__navigation--items {
      position: absolute;
      left: 55%; }
      .header__navigation--items li {
        float: left;
        padding: 0px 2px;
        height: 12px; }
        .header__navigation--items li:not(:last-child) {
          border-right: 1px solid black; }
        .header__navigation--items li a {
          font-size: 12px;
          padding: 0 5px;
          color: black;
          margin-top: -3px;
          display: block; }
      .header__navigation--items::after {
        content: '';
        clear: both;
        display: table; }
  .header__searchbox {
    position: absolute;
    top: 5px;
    left: 5px;
    margin-top: 0; }
    .header__searchbox--input {
      display: none; }
    .header__searchbox .search-btn {
      display: block; } }

.footer {
  background-color: #E6C36E; }
  .footer__main {
    display: flex;
    width: 80%;
    margin: auto; }
  .footer__heading {
    border-bottom: 1px solid black;
    font-family: 'overlock';
    font-size: 23px; }
  .footer__navigation {
    line-height: 20pt; }
    .footer__navigation li:hover a {
      color: white;
      text-shadow: 0px 2px 5px black;
      text-decoration: none; }
    .footer__navigation a {
      color: black;
      font-family: 'Patrick hand';
      font-size: 20px; }
  .footer__navigation-2 {
    text-align: center; }
    .footer__navigation-2--items {
      display: inline-block; }
      .footer__navigation-2--items li {
        float: left;
        padding: 0px 2px;
        height: 12px; }
        .footer__navigation-2--items li:not(:last-child) {
          border-right: 1px solid black; }
        .footer__navigation-2--items li a {
          font-size: 12px;
          padding: 0 5px;
          color: black;
          margin-top: -3px;
          display: block; }
      .footer__navigation-2--items li {
        text-align: center; }
        .footer__navigation-2--items li:hover a {
          font-weight: 700; }
        .footer__navigation-2--items li a {
          font-family: 'Patrick hand';
          font-size: 14px; }
      .footer__navigation-2--items::after {
        content: '';
        clear: both;
        display: table; }
  .footer__image {
    padding: 10px;
    position: relative; }
    .footer__image img {
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding: 10px; }
  .footer__copyright {
    text-align: center;
    font-size: 12px; }
  .footer__disclaimer {
    background-color: black;
    opacity: 0.5;
    font-family: 'Josefin slab'; }
    .footer__disclaimer p {
      color: white;
      width: 80%;
      margin: auto;
      line-height: 12pt; }
  .footer__part--1 {
    flex-grow: 1;
    padding: 5px; }
  .footer__part--2 {
    flex-grow: 1;
    padding: 5px; }
  .footer__part--3 {
    flex-grow: 1;
    padding: 5px; }

@media only screen and (max-width: 900px) {
  .footer__main {
    display: block;
    width: 100%; }
  .footer__image {
    padding: 0px;
    position: relative; }
    .footer__image img {
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding: 10px;
      width: 40%;
      height: 40%; }
  .footer__navigation {
    line-height: 17pt; }
    .footer__navigation a {
      font-size: 15px; }
  .footer__disclaimer p {
    width: 90%; }
  .footer__part--1 {
    float: left;
    width: 38%;
    margin: 5px; }
  .footer__part--2 {
    float: right;
    width: 48%;
    margin: 5px; }
  .footer .fas {
    margin: 0px 2px 0px 0px;
    font-size: 14px; } }

.row {
  padding: 0 16px; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: '';
    clear: both;
    display: table; }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1rem) / 4); }
    .row .col-1-of-4 a {
      font-size: 14px;
      font-family: 'Courgette'; }
      .row .col-1-of-4 a:hover {
        text-decoration: underline; }
    .row .col-1-of-4 .wrap {
      border: 5px solid gray;
      overflow: hidden; }
      .row .col-1-of-4 .wrap img {
        width: 160px;
        height: 100px;
        transform: scale(1.3);
        transition: all 0.5s ease; }
        .row .col-1-of-4 .wrap img:hover {
          filter: blur(3px) brightness(80%);
          transform: scale(1.1); }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 1rem; }

.row--short:not(:last-child) {
  margin-bottom: 0.5rem; }
  .row--short:not(:last-child):after {
    content: '';
    clear: both;
    display: table; }

.row--short .col-1-of-6 {
  width: calc((100% - 5 * 0.3rem) / 6); }
  .row--short .col-1-of-6 img {
    width: 50px;
    height: 50px; }

.row--short [class^='col-'] {
  float: left; }
  .row--short [class^='col-']:not(:last-child) {
    margin-right: 0.3rem; }

.navigation {
  background-color: #E6C36E;
  transition: all 0.5s ease; }
  .navigation .container {
    width: 80%;
    margin: auto; }
  .navigation__items li {
    float: left;
    padding: 6px 15px;
    animation: pop-up 1s ease; }
    .navigation__items li a {
      text-decoration: none;
      display: inline-block;
      color: black;
      font-color: black;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      font-family: 'handlee';
      transition: all 0.3s ease; }
  .navigation__items li:hover a {
    transform: scale(1.2);
    font-weight: 800;
    text-shadow: 3px 3px 5px white; }
  .navigation__items li:hover {
    background-color: darkgoldenrod; }

@media only screen and (max-width: 800px) {
  .navigation {
    height: 100px;
    margin: auto; } }

.about {
  display: flex;
  width: 80%;
  margin: auto;
  background-color: gainsboro;
  border-bottom: 3px solid gray; }
  .about__welcome {
    flex-grow: 1;
    position: relative;
    margin-left: 20px;
    width: 55%; }
    .about__welcome--heading {
      color: burlywood;
      padding: 10px;
      font-family: 'overlock';
      transition: all 0.5s ease; }
      .about__welcome--heading:hover {
        background-image: linear-gradient(to right, burlywood, brown);
        -webkit-background-clip: text;
        color: transparent; }
    .about__welcome--image {
      border: 5px solid gray;
      float: left;
      margin-right: 10px;
      transition: all 1sec ease; }
    .about__welcome--story {
      line-height: 18pt;
      padding-right: 10px;
      font-family: 'Overlock'; }
  .about__carousel {
    flex-grow: 1;
    width: 100%;
    position: relative; }
    .about__carousel--image {
      height: 400px;
      width: 100%; }
    .about__carousel--left {
      position: absolute;
      top: 50%;
      left: 0; }
    .about__carousel--right {
      position: absolute;
      top: 50%;
      right: 0; }
    .about__carousel .fas {
      font-size: 2.5rem;
      color: white;
      padding: 10px;
      transform: translateY(-50%); }
      .about__carousel .fas:hover {
        color: burlywood;
        text-shadow: 3px 0 5px black; }

.user-stories {
  width: 80%;
  margin: auto;
  position: relative; }
  .user-stories .fas {
    margin-top: 20px; }
  .user-stories a {
    height: 100px; }
  .user-stories .row {
    width: 90%;
    margin: auto !important;
    padding: 0px !important; }
  .user-stories .row [class^='col-'] {
    padding: 0px !important; }
  .user-stories .carousel-inner img {
    border: 5px solid gray;
    width: 300px !important;
    height: 100px !important; }

.main {
  display: flex; }
  .main__section {
    flex-grow: 2;
    width: 68%;
    margin: 5px;
    border-right: 1px solid gray;
    padding-right: 10px; }
  .main__section-2::after {
    content: '';
    clear: both;
    display: table; }
  .main__section-2--tweets {
    float: left;
    width: 40%;
    margin: 5px;
    border-right: 1px solid gray;
    padding-right: 10px; }
    .main__section-2--tweets p {
      font-family: 'Overlock';
      font-size: 17px;
      margin: 15px 5px;
      line-height: 15pt; }
      .main__section-2--tweets p a {
        font-family: 'overlock'; }
  .main__section-2--facebook {
    float: right;
    width: 55%;
    margin: 5px; }
    .main__section-2--facebook--header img {
      float: left;
      margin-right: 5px; }
    .main__section-2--facebook--header h2 {
      color: blue;
      font-size: 25px;
      font-family: 'overlock'; }
    .main__section-2--facebook--header p {
      font-size: 12px;
      font-family: 'Courgette'; }
      .main__section-2--facebook--header p span {
        font-weight: 700; }
    .main__section-2--facebook .row--short .col-1-of-6 img {
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 70px;
      height: 70px; }
    .main__section-2--facebook .row--short .col-1-of-6 a {
      font-size: 12px;
      display: block;
      text-align: center;
      color: gray;
      font-family: cursive; }
      .main__section-2--facebook .row--short .col-1-of-6 a:hover {
        color: royalblue;
        text-shadow: 2px 0 5px gray;
        text-decoration: none; }
    .main__section-2--facebook--footer img {
      float: left;
      margin-right: 5px; }
    .main__section-2--facebook--footer p {
      font-size: 12px;
      color: gray;
      font-family: 'Patrick hand';
      padding-top: 5px; }
  .main__sidebar {
    flex-grow: 1;
    width: 28%;
    margin: 5px; }
    .main__sidebar--news .picture img {
      float: left;
      width: 95px;
      height: 70px;
      padding: 15px 0;
      border: 5px solid gray;
      margin-right: 5px; }
    .main__sidebar--news .picture__des {
      font-weight: 700;
      font-family: 'overlock';
      font-size: 14px;
      line-height: 16pt; }
    .main__sidebar--news .picture__date {
      font-size: 14px;
      margin-top: 10px;
      font-family: 'overlock'; }
    .main__sidebar--news .nav {
      margin: 10px 0; }
      .main__sidebar--news .nav ul {
        margin: 25px 0; }
        .main__sidebar--news .nav ul li {
          line-height: 18pt; }
          .main__sidebar--news .nav ul li:hover a {
            color: aquamarine; }
          .main__sidebar--news .nav ul li a {
            font-size: 16px;
            font-family: 'Patrick hand';
            transition: 0.3s ease; }
      .main__sidebar--news .nav button {
        border: 1px solid #E6C36E;
        color: #E6C36E;
        background-color: antiquewhite;
        padding: 0 4px; }
        .main__sidebar--news .nav button:hover {
          background-color: rosybrown; }
      .main__sidebar--news .nav__more {
        float: right;
        font-family: 'Patrick Hand'; }
        .main__sidebar--news .nav__more:hover {
          color: aquamarine; }
    .main__sidebar--weather-box {
      display: flex;
      background-image: url(/img/weather_background.png);
      padding: 10px 5px;
      border: 1px solid gray;
      height: 150px; }
      .main__sidebar--weather-box div {
        flex-grow: 1;
        padding: 5px 5px; }
    .main__sidebar--weather-details .day {
      text-transform: uppercase;
      font-family: 'Fredericka the great'; }
    .main__sidebar--weather-details p {
      font-size: 14px;
      text-align: center;
      font-family: 'overlock';
      margin: 0; }
    .main__sidebar--weather .cloudy {
      width: 70px;
      height: 50px;
      background-image: url(/img/atmosphere-pic.png);
      background-position: top 50px right 90px;
      margin-top: 10px; }
    .main__sidebar--weather .thunder {
      width: 70px;
      height: 50px;
      background-image: url(/img/atmosphere-pic.png);
      background-position: top 50px right 460px;
      margin-top: 10px; }
    .main__sidebar--weather .rain {
      width: 70px;
      height: 50px;
      background-image: url(/img/atmosphere-pic.png);
      background-position: top 50px right 830px;
      margin-top: 10px; }
    .main__sidebar--date {
      font-family: 'overlock'; }
      .main__sidebar--date--time {
        font-weight: 700;
        font-size: 70px; }

.partners {
  width: 80%;
  margin: auto;
  position: relative; }
  .partners a {
    margin-top: -5px; }
  .partners .fas {
    margin-top: 7px; }
  .partners .container {
    height: 80px; }
  .partners .row {
    width: 95%;
    height: 100%;
    margin: auto !important; }
    .partners .row img {
      width: 100px !important; }
  .partners .imgslider {
    width: 100%; }

@media only screen and (max-width: 900px) {
  .about {
    display: block;
    width: 100%;
    margin: auto; }
    .about__welcome {
      position: relative;
      width: 90%;
      margin: auto; }
      .about__welcome--heading {
        color: burlywood;
        padding: 12px;
        text-align: center; }
      .about__welcome--image {
        margin-top: 0;
        margin-left: 10px; }
      .about__welcome--story {
        line-height: 18pt;
        padding: 0 10px; }
      .about__welcome--btn {
        padding: 15px;
        margin: 0; }
    .about_carousel--image {
      height: 300px; }
  .main {
    display: block;
    width: 95%; }
    .main__section {
      width: 100%;
      margin: 0;
      border-right: 1px solid gray;
      padding-right: 10px; }
    .main__section-2::after {
      content: '';
      clear: both;
      display: table; }
    .main__section-2--tweets {
      float: none;
      width: 100%;
      margin: 0;
      border: none;
      padding: 0; }
      .main__section-2--tweets p {
        font-family: 'overlock';
        margin: 15px 5px;
        line-height: 15pt; }
    .main__section-2--facebook {
      float: none;
      width: 100%;
      margin: 0; }
    .main__sidebar {
      width: 100%; }
  .partners {
    width: 95%; }
  .user-stories {
    width: 95%; } }
