@mixin clearfix {
    content: '';
    clear: both;
    display: table;
}

@mixin vertical-rule {
    border-right: 1px solid gray;
    padding-right: 10px;
}

@mixin small-nav {
    li {
        float: left;
        padding: 0px 2px;
        height: 12px;

        &:not(:last-child) {
            border-right: 1px solid black;
        }

        a {
            font-size: 12px;
            padding: 0 5px;
            color: black;
            margin-top: -3px;
            display: block;
        }
    }
}

@mixin abscenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
