@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'abstracts/functions';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/buttons';
@import 'components/imageslider';
@import 'components/popup';

@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/grid';
@import 'layouts/navigation';

@import 'pages/home';
