.about {
    &__welcome {

        &--btn {
            margin-top: 10px;
            border: none;
            font-weight: bold;
            color: $color_yellow;
            font-family: 'Courgette';

            &:hover {
                color: aliceblue;
                transform: skewX(25deg);
            }
        }
    }
}

.close-btn {
    position: absolute;
    top: 15px;
    left: 95%;
    border: none;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 8px;
}

.search-btn {
    background-image: url(/img/search-btn.png);
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    background-size: 2rem 2rem;
    border: none;
    display: none;
    margin-left: 10px;
}

.like-btn {
    color: blue;
    border: 1px solid blue;
    background-color: lightblue;
    padding: 4px 6px;
    border-radius: 3px;

    &:hover i {
        animation: bouncy 0.5s ease;
    }

    i {
        color: blue;
    }
}
