.imgslider {
    display: flex;
    width: 80%;
    margin: auto;

    .fas {
        font-size: 50px;
        color: $color_grey;
    }

    &__arrow--left {
        flex-grow: 1;
        margin: 10px;
        display: inline-block;
        width: 15px;
        height: 7rem;
        
        &:hover .fas{
            color: darken(gainsboro, 15%);
            text-shadow: 2px 2px 5px black;
        }   
    }

    .container {
        flex-grow: 1;
        margin-top: auto;
        margin-bottom: auto;
        display: inline-block;
    }

    &__arrow--right {
        flex-grow: 1;
        margin: 5px;
        display: inline-block;
        width: 15px;
        height: 7rem;
        
        &:hover .fas{
            color: darken(gainsboro, 15%);
            text-shadow: 2px 2px 5px black;
        }
    }
}

    @media only screen and (max-width : 900px){
        .imgslider{
            flex-wrap: wrap;
        }
    }