.imgslider {
    position: relative;
    width: 100%;

    .fas {
        font-size: 50px;
        color: $color_grey;
    }

    &__arrow--left {
        margin: 10px;
        display: inline-block;
        width: 15px;
        height: 7rem;
        
        &:hover .fas{
            color: darken(gainsboro, 15%);
            text-shadow: 2px 2px 5px black;
        }   
    }

    .container {
        margin-top: auto;
        margin-bottom: auto;
        display: inline-block;
    }

    &__arrow--right {
        margin: 5px;
        display: inline-block;
        width: 15px;
        height: 7rem;
        
        &:hover .fas{
            color: darken(gainsboro, 15%);
            text-shadow: 2px 2px 5px black;
        }
    }
}
