.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.95;
    z-index: 10;
    display: none;
    
    &_content {
        @include abscenter;
        width: 80%;
        height: 30rem;
        background-image: linear-gradient(to right bottom, white 0%, white 15%, burlywood 35%, burlywood 50%, brown 75%), url(../img/pic_2.png);
        border-radius: 10px;
        position: relative;
        z-index: 12;
        display: table;

        .close_btn {
            position: absolute;
            top: 15px;
            left: 95%;
            border: none;
            font-weight: bold;
            font-size: 1.5rem;
            border-radius: 50%;
            padding: 8px;
        }

        &--des {
            display: table-cell;
            width: 80%;
            vertical-align: middle;

            hr {
                width: 90%;
            }
        }

        &--heading {
            font-size: 2.8rem;
            text-align: center;
            background-image: url(/img/pic_2.png);
            background-clip: text;
            color: transparent;
            font-family: 'handlee';
            -webkit-background-clip: text;
        }


        &--story {
            font-family: cursive;
            font-size: 1.1rem;
            padding: 10px;
            line-height: 25pt;
            font-family: 'overlock';
        }

        &--images {
            display: table-cell;
            vertical-align: middle;

            img {
                border: 5px solid gray;
                margin: 20px;
                display: block;
                width: 10rem;
                height: 10rem;
            }
        }
    }
}


@media only screen and (max-width : 900px) {
    .popup {
        width: 100%;
        height: 800px;

        &_content {
            margin-top: -100px;
            width: 85%;
            height: 65%;
            display: block;

            .close_btn {
                left: 90%;
                font-size: 0.7rem;
            }

            &--des {
                display: block;
                width: 100%;
                margin: 10px;

            }

            &--heading {
                font-size: 1.5rem;
                padding: 15px;
            }


            &--story {
                font-size: 0.9rem;
                padding: 5px;
                line-height: 15pt;

                &::before {
                    content: '';
                    background-image: url(/img/person.png);
                    background-size: contain;
                    float: left;
                    height: 3rem;
                    width: 3rem;
                    border-radius: 10px;
                    border: 5px solid gray;
                    margin-right: 10px;
                }
            }

            &--images {
                display: none;
            }



        }


    }
}
