@keyframes pop-up {
    0% {
        opacity: 0;
        transform: scale(-1.5);

    }

    80% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bouncy {
    0% {}

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotar {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}
