* {
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 16px;
}
hr.big {
    width: 80%;
    margin: 15px auto;
}

hr {
    margin: 10px auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: blue;
}

.fas {
    margin-right: 10px;
    font-size: 14px;
    
}
h1{
    font-size: 18px;
}

h2{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

a:hover{
    text-decoration: none;
}
    @media only screen and (max-width : 900px){
        hr.big{
            width: 95%;
        }
    }