.main {

    width: 80%;
    margin: auto;

    &__heading {
        background-image: linear-gradient(to right, $color_heading_2 0%, $color_heading_2 10px, $color_heading_1 10px);
        padding: 5px 15px;
        font-family: 'Cabin sketch';
        margin-bottom: 20px;
        margin-top: 0;
        font-weight: 700;
        font-size: 19px;

    }
}
;