.about {
    display: flex;
    width: 80%;
    margin: auto;
    background-color: gainsboro;
    border-bottom: 3px solid gray;

    &__welcome {
        flex-grow: 1;
        position: relative;
        margin-left: 20px;
        width: 55%;


        &--heading {
            color: burlywood;
            padding: 10px;
            font-family: 'overlock';
            font-size: 1.7rem;
            transition: all 0.5s ease;

            &:hover {
                background-image: linear-gradient(to right, burlywood, brown);
                -webkit-background-clip: text;
                color: transparent;
            }

        }

        &--image {
            border: 5px solid gray;
            float: left;
            margin-right: 10px;
            transition: all 1sec ease;
        }

        &--story {
            line-height: 18pt;
            padding-right: 10px;
            font-family: 'Overlock';
        }
    }

    &__carousel {
        flex-grow: 1;
        width: 100%;
        position: relative;

        &--image {
            height: 400px;
            width: 100%;
        }

        &--left {
            position: absolute;
            top: 50%;
            left: 0;
        }

        &--right {
            position: absolute;
            top: 50%;
            right: 0;


        }

        .fas {
            font-size: 2.5rem;
            color: white;
            padding: 10px;
            transform: translateY(-50%);

            &:hover {
                color: burlywood;
                text-shadow: 3px 0 5px black;
            }
        }
    }
}


.main {
    display: flex;

    &__section {
        flex-grow: 2;
        width: 68%;
        margin: 5px;
        @include vertical-rule;

    }

    &__section-2 {
        &::after {
            @include clearfix;
        }

        &--tweets {
            float: left;
            width: 40%;
            margin: 5px;
            @include vertical-rule;

            p {
                font-family: 'Overlock';
                font-size: 1.1rem;
                margin: 15px 5px;
                line-height: 15pt;

                a {
                    font-family: 'overlock';
                }
            }
        }

        &--facebook {
            float: right;
            width: 55%;
            margin: 5px;

            &--header {
                img {
                    float: left;
                    margin-right: 5px;
                }

                h2 {
                    color: blue;
                    font-size: 1.5rem;
                    font-family: 'overlock';
                }

                p {
                    font-size: 0.9rem;
                    font-family: 'Courgette';

                    span {
                        font-weight: 700;
                    }
                }
            }

            .row--short {
                .col-1-of-6 {
                    img {
                        display: block;
                        margin-right: auto;
                        margin-left: auto;
                        width: 70px;
                        height: 70px;
                    }

                    a {
                        font-size: 0.8rem;
                        display: block;
                        text-align: center;
                        color: gray;
                        font-family: cursive;
                        
                        &:hover {
                            color: royalblue;
                            text-shadow: 2px 0 5px gray;
                        }
                    }
                }
            }


            &--footer {
                img {
                    float: left;
                    margin-right: 5px;
                }

                p {
                    font-size: 0.8rem;
                    color: gray;
                    font-family: 'Patrick hand';
                    padding-top: 5px;
                }
            }
        }
    }

    &__sidebar {
        flex-grow: 1;
        width: 28%;
        margin: 5px;

        &--news {

            .picture {
                img {
                    float: left;
                    width: 95px;
                    height: 45px;
                    padding: 10px 0;
                    border: 5px solid gray;
                    margin-right: 5px;
                }

                &__des {
                    font-weight: 700;
                    font-family: 'overlock';
                    font-size: 0.8rem;
                    line-height: 18pt;
                }

                &__date {
                    font-size: 0.8rem;
                    margin-top: 10px;
                    font-family: 'overlock';
                }
            }


            .nav {
                margin: 30px 0;

                ul {
                    margin: 25px 0;

                    li {
                        line-height: 18pt;

                        &:hover a {
                            color: aquamarine;

                        }

                        a {
                            font-size: 1rem;
                            font-family: 'Patrick hand';
                            transition: 0.3s ease;
                        }
                    }
                }

                button {
                    border: 1px solid $color_yellow;
                    color: $color_yellow;
                    background-color: antiquewhite;
                    padding: 0 4px;

                    &:hover {
                        background-color: rosybrown;
                    }
                }

                &__more {
                    float: right;
                    font-family: 'Patrick Hand';

                    &:hover {
                        color: aquamarine;
                    }
                }
            }
        }

        &--weather {

            &-box {
                display: flex;
                background-image: url(/img/weather_background.png);
                padding: 10px 5px;
                border: 1px solid gray;
                height: 150px;

                div {
                    flex-grow: 1;
                    padding: 5px 5px;
                }
            }

            &-details {

                .day {
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-family: 'Fredericka the great';
                }

                p {
                    font-size: 0.8rem;
                    text-align: center;
                    font-family: 'overlock';
                }
            }

            .cloudy {
                width: 70px;
                height: 50px;
                background-image: url(/img/atmosphere-pic.png);
                background-position: top 50px right 90px;
                margin-top: 10px;
            }

            .thunder {
                width: 70px;
                height: 50px;
                background-image: url(/img/atmosphere-pic.png);
                background-position: top 50px right 460px;
                margin-top: 10px;
            }

            .rain {
                width: 70px;
                height: 50px;
                background-image: url(/img/atmosphere-pic.png);
                background-position: top 50px right 830px;
                margin-top: 10px;
            }
        }


        &--date {
            font-family: 'overlock';

            &--time {
                font-weight: 700;
                font-size: 70px;
            }
        }
    }
}

.partners {
    width: 80%;
    margin: auto;

    .imgslider {
        width: 100%;
    }
}

@media only screen and (max-width : 900px) {
    .about {
        display: block;
        width: 100%;
        margin: auto;

        &__welcome {
            position: relative;
            width: 90%;
            margin: auto;

            &--heading {
                color: burlywood;
                padding: 12px;
                text-align: center;
            }

            &--image {
                margin-top: 0;
                margin-left: 10px;
            }

            &--story {
                line-height: 18pt;
                padding: 0 10px;
            }

            &--btn {
                padding: 15px;
                margin: 0;
            }
        }


        &_carousel {
            &--image {
                height: 300px;
            }
        }
    }

    .user-stories {

        .imgslider {

            &__arrow--left {
                display: none;
            }

            &__arrow--right {
                display: none;
            }

            &__images {
                position: relative;

                &--img {
                    border: 5px solid gray;
                    height: 90px;
                    width: 120px;
                    display: block;
                    margin: 5px auto;

                }
            }
        }
    }



    .main {
        display: block;
        width: 95%;

        &__section {
            width: 100%;
            margin: 0;
            @include vertical-rule;
        }

        &__section-2 {
            &::after {
                @include clearfix;
            }

            &--tweets {
                float: none;
                width: 100%;
                margin: 0;
                border: none;
                padding: 0;

                p {
                    font-family: 'overlock';
                    margin: 15px 5px;
                    line-height: 15pt;
                }
            }

            &--facebook {
                float: none;
                width: 100%;
                margin: 0;
            }
        }

        &__sidebar {
            width: 100%;

        }
    }

    .partners {
        width: 95%;
        margin: auto;

        .imgslider {

            &__arrow--left {
                display: none;
            }

            &__arrow--right {
                display: none;
            }

            &__images {
                position: relative;

                &--img {
                    border: 5px solid gray;
                    height: 90px;
                    width: 120px;
                    display: block;
                    margin: 5px auto;

                }
            }
        }
    }
}
