.footer {
    background-color: $color_yellow;

    &__main {
        display: flex;
        width: 80%;
        margin: auto;
    }

    &__heading {
        border-bottom: 1px solid black;
        font-family: 'overlock';
        font-size: 23px;
    }

    &__navigation {
        line-height: 20pt;
        
        li:hover a{
            color: white;
            text-shadow: 0px 2px 5px black;
            text-decoration: none;
        }

        a {
            color: black;
            font-family: 'Patrick hand';
            font-size: 20px;
        }
    }

    &__navigation-2 {
        text-align: center;

        &--items {
            display: inline-block;
            @include small-nav;

            li {
                text-align: center;
                
                &:hover a{
                    font-weight: 700;
                }
                a{
                    font-family: 'Patrick hand';
                    font-size: 14px;
                }
            }

            &::after {
                @include clearfix;
            }
        }
    }

    &__image {
        padding: 10px;
        position: relative;

        img {
            display: block;
            margin-right: auto;
            margin-left: auto;
            padding: 10px;
        }
    }

    &__copyright {
        text-align: center;
        font-size: 12px;
    }

    &__disclaimer {
        background-color: black;
        opacity: 0.5;
        font-family: 'Josefin slab';

        p {
            color: white;
            width: 80%;
            margin: auto;
            line-height: 12pt;
        }
    }

    &__part--1 {
        flex-grow: 1;
        padding: 5px;
    }

    &__part--2 {
        flex-grow: 1;
        padding: 5px;
    }

    &__part--3 {
        flex-grow: 1;
        padding: 5px;
    }
}

    @media only screen and (max-width : 900px) {
        .footer {
            &__main {
                display: block;
                width: 100%;
            }

            &__image {
            padding: 0px;
            position: relative;

            img {
                display: block;
                margin-right: auto;
                margin-left: auto;
                padding: 10px;
                width: 40%;
                height: 40%;

            }
        }

            &__navigation {
                line-height: 17pt;

                a{
                    font-size: 15px;
                }
            }

            &__disclaimer {

                p {
                    width: 90%;
                }
            }

            &__part--1 {
                float: left;
                width: 38%;
                margin: 5px;
            }

            &__part--2 {
                float: right;
                width: 48%;
                margin: 5px;
            }
        .fas {
            margin: 0px 2px 0px 0px;
            font-size: 14px;
            }
        }
    }
