.header {
    background-color: $color_grey;
    position: relative;

    &::after {
        @include clearfix;
    }

    &__container {
        width: 80%;
        margin: auto;
    }

    &__logo {
        padding: 30px;
        position: relative;
        animation: moveInLeft 0.8s ease;

        .rt-camp_logo {
            object-fit: cover;
        }

        &--part {
            position: absolute;
            top: 72%;
            left: 22%;
            font-size: 11px;
            text-transform: uppercase;
            font-family: sans-serif;
            color: gray;
            font-weight: 700;
        }
    }

    &__navigation {
        animation: moveInRight 1s ease;

        &--items {
            float: right;
            @include small-nav;
            padding: 10px;

            a {
                text-transform: uppercase;
                font-weight: 700;
                font-family: 'overlock';
                transition: all 0.3s ease;
                backface-visibility: hidden;
            }

            li:hover a {
                color: white;
                text-shadow: 1px 1px 5px black;
                transform: scale(1.1);
            }
        }
    }


    &__searchbox {
        position: absolute;
        top: 60px;
        left: 70%;
        animation: moveInRight 1s ease;

        &--input {
            width: 250px;
            height: 23px;
            background-image: url("/img/placeholder-pic.png");
            background-repeat: no-repeat;
            border: 2px solid gray;
            border-radius: 5px;

            &:focus {
                background-image: none;
                outline: none;
                box-shadow: 3px 3px 10px white, -2px -2px 10px white;
                background-color: whitesmoke;
            }
        }
    }
}


@media only screen and (max-width : 900px) {
    .header {

        &__logo {
            padding: 25px;
            margin-top: 15px;
            text-align: center;
            position: relative;

            .rt-camp_logo {
                width: 60%;
                height: 60%;
            }

            &--part {
                top: 75%;
                left: 75%;
            }
        }

        &__navigation {
            width: 80%;
            text-align: right;
            padding: 2px;

            &--items {
                @include small-nav;
                position: absolute;
                left: 55%;

                &::after {
                    @include clearfix;
                }
            }
        }

        &__searchbox {
            position: absolute;
            top: 5px;
            left: 5px;
            margin-top: 0;
            
            &--input{
                display: none;
            }
            
            .search-btn{
                display: block;
            }
        }
    }
}
